Repository fortran-lang/stdlib, pull requests merged in 2022-03, with the labels that each got.

#632 doc: fix some typos
  doc/specs/stdlib_quadrature.md
Labels: documentation

#629 option to disable testing by setting BUILD_TESTING to OFF
  CMakeLists.txt
  README.md
  src/CMakeLists.txt
Labels: build: cmake

#637 Only set Fortran arguments for Fortran compiler
  CMakeLists.txt
  config/DefaultFlags.cmake
Labels: build: cmake

#642 Fix linking issue with shared libraries
  config/DefaultFlags.cmake
  src/CMakeLists.txt
  src/tests/hash_functions/CMakeLists.txt
  src/tests/hash_functions_perf/CMakeLists.txt
Labels: bug, build: cmake
